# Environment variables declaration
# Add any required client or server environment variables here
VITE_WEB3FORMS_ACCESS_KEY=7ddcf165-e7f9-498a-8611-461680614337
VITE_EMAILJS_SERVICE_ID=
VITE_EMAILJS_TEMPLATE_ID=
VITE_EMAILJS_PUBLIC_KEY=
